// Variables
$primary-color: #ffe92e;
$secondary-color: black;
$terciary-color: white;
$font-color: #aaa;

$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);
$box-shadow-container: 0 0 20px 2px rgba(0,0,0,0.1);

$limit: 10;
$unit: 8px;

// funci贸n
@function size($value){
    @return $value * $unit;
}

// Mixin, nos permite crear bloques de estilos
// que podemos adjuntar  
@mixin reset-pm{
    padding: 0px;
    margin: 0;
}

@mixin btn($bg-color, $color, $bold){
    background-color: $bg-color;
    color: $color;
    border-radius: 50px;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    // Condiciones
    @if ($bold == 'true') {
        font-weight: bolder;
    }

}

// Anidaci贸n para los botones
.btn{

    &.btn-cta{
        @include btn($primary-color, $secondary-color, 'true');

        &:hover{
            @include btn($secondary-color, $terciary-color, 'true');
            box-shadow: $box-shadow;
        }

    }

    &:hover{
        @include btn($terciary-color, $secondary-color, 'true');
        box-shadow: $box-shadow;
    }

}

*{
    @include reset-pm();
    box-sizing: border-box;   
}

body{
    background-color: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: $secondary-color;
    text-decoration: none;
}

h2{
    font-weight: bolder;
    font-size: size(6);
}

h3{
    font-weight: lighter;
    font-size: size(3);
}

.container{
    background-color: white;
    margin: 100px auto;
    width: 1280px;
    padding: 50px;
    box-shadow: $box-shadow-container; 
    background-image: url("../bg.jpg");
    background-size: 100% 100%;
}


// Anidaci贸n
ul{
    
    @include reset-pm();
    list-style: none;
    display: flex;
    gap: 20px;

    li{
        a{
            color: red;
            
            @include btn(
            $bg-color: $terciary-color, 
            $color: $font-color, 
            $bold : 'true'
            );

            &:hover{

                @include btn(
                    $secondary-color,
                    $terciary-color,
                    'false'
                );

                box-shadow: $box-shadow;
                
            }

        }
    }
}

header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// Anidaci贸n para el contenido
.row{

    display: flex;
    align-items: center;

    .col{
        width: 50%;
    }

    .col-30{
        width: 30%;
    }

    .col-70{
        width: 70%;
    }
}